<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Stop logback startup INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="JSONSTDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>
                <logLevel/>
                <message/>
                <threadName/>
                <mdc/>
                <globalCustomFields>
                    <!-- "env": "${ENV} should be also part of the fields -->
                    <customFields>{"service":"billing","team":"bphenriques"}</customFields>
                </globalCustomFields>
                <throwableClassName/>
                <throwableRootCauseClassName/>
                <stackHash/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %yellow(%date{ISO8601}) | %highlight(%-5level) | %highlight(%msg%n%ex{full})
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
